.practice-page {
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.practice-page div {
    border: 1px solid;
    height: 80px;
    width: 100px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}